@model nankamApp.Models.Employee

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vorname" class="control-label">Vorname</label>
                <input asp-for="Vorname" class="form-control" />
                <span asp-validation-for="Vorname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jobtitel" class="control-label">Jobtitel</label>
                <input asp-for="Jobtitel" class="form-control" />
                <span asp-validation-for="Jobtitel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abteilung" class="control-label">Abteilung</label>
                <input asp-for="Abteilung" class="form-control" />
                <span asp-validation-for="Abteilung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label">Foto</label>
                <input asp-for="Foto" class="form-control" type="file" style="height:auto" />
                <span asp-validation-for="Foto" class="text-danger"></span>
                <input type="submit" value="Upload" class="btn btn-default" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}